<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, user-scalable=0"
		/>
		<title>V&I Models Management | Модельное агенство | {{ title or (eleventyComputed and eleventyComputed.title) }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta
			name="description"
			content="Лучшее модельное агентсво в Краснодарском крае и Крыму. Идет набор моделей для международных контрактов."
		/>
		<meta
			name="keywords"
			content="модельное, материнское, агенство, набор, Модель, vaimodelsmanagement, vaimodels, кастинг"
		/>
		<meta name="robots" content="index, follow" />
		<meta name="yandex-verification" content="b9b9a6aaeab17e36" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="{{ '/assets/apple-touch-icon.png' | url }}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="{{ '/assets/favicon-32x32.png' | url }}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="{{ '/assets/favicon-16x16.png' | url }}"
		/>
		<link rel="stylesheet" href="{{ '/css/slick.css' | url }}" />
		<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		{% eleventyGoogleFonts
		'https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;600;700&family=Roboto:wght@300;400;700&display=swap'
		%}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120903845-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-120903845-2');
		</script>
	</head>
	<body class="{{ bodyClass }}">
		{% include 'header.njk' %}
		<main>
			{{ content | safe }}
		</main>
		{% include 'footer.njk' %}

		<script
			type="text/javascript"
			src="{{ '../../' | url }}scripts/jquery.min.js"
		></script>
		<script
			type="text/javascript"
			src="{{ '../../' | url }}scripts/slick.min.js"
		></script>
		<script
			type="text/javascript"
			src="{{ '../../' | url }}scripts/main.js"
		></script>
	</body>
</html>
