<div class="filter">
  <ul class="filter__list">
    <li class="filter__item all js-filter" data-gender="all">All</li>
    <li class="filter__item woman js-filter" data-gender="female">Woman</li>
    <li class="filter__item male js-filter" data-gender="male">Man</li>
  </ul>
</div>
