<div class="filter">
  <ul class="filter__list">
    <li class="filter__item all"><a href="">All</a></li>
    <li class="filter__item woman"><a href="">Woman</a></li>
    <li class="filter__item men"><a href="">Man</a></li>
  </ul>
</div>