<div class="filter">
  <ul class="filter__list">
    <li class="filter__item active all" data-gender="all">All</li>
    <li class="filter__item woman" data-gender="female">Woman</li>
    <li class="filter__item man" data-gender="male">Man</li>
  </ul>
</div>
