@use '../abstracts/mixins' as *;
body {
  background-color: var(--clr-primary-white);
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  overflow-x: hidden;
  &.menu-expanded {
    overflow: hidden;
  }
}
main {
  margin-top: 3.75rem;
  @include mq(sm) {
    margin-top: 3rem;
  }
  @include mq(xs) {
    margin-top: 3.75rem;
  }
}
section {
  height: 100%;
}
.container {
  width: min(90%, 1600px);
  height: 100%;
  margin-inline: auto;
}
img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}