body {
	background-color: var(--clr-primary-white);
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: var(--fz-default);
	text-rendering: optimizeSpeed;
	padding: 0;
	margin: 0;
	line-height: 1.2;
}

img {
	object-fit: cover;
}
