:root {
	--clr-primary-white: hsl(0, 0%, 100%);
	--clr-primary-black: hsl(0, 0%, 18%);
	--clr-hover: hsl(0, 0%, 77%);
	--fz-large: 4.5rem;
	--fz-medium-large: 1.5rem;
	--fz-default: 1.125rem;
	--fz-medium: 1rem;
	--fz-small: 0.875rem;
}
