:root {
  --clr-primary-white: hsl(0, 0%, 100%);
  --clr-primary-black: hsl(0, 0%, 18%);
  --clr-hover: hsl(303, 66%, 60%);


  --ff: 'Be Vietnam Pro', sans-serif;

  --fz-default: 1.125rem;
  --fz-xl: 4.5rem;
  --fz-lg: 1.5rem;
  --fz-md: 1.25rem;
  --fz-sm: 0.875rem;
}
