h1,
h2,
h3,
h4,
h5 {
	color: var(--clr-primary-black);
	font-family: 'Cormorant SC', serif;
}

a {
	color: var(--clr-primary-white);
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: var(--fz-default);
	text-decoration: none;
}
p {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: var(--fz-small);
	line-height: 1.1;
}
