@use '../abstracts/mixins' as *;
h1,
h2,
h3,
h4,
h5 {
	color: var(--clr-primary-black);
	font-family: var(--ff);
	@include mq(md) {
		font-size: var(--fz-medium-large);
	}
}

a {
	font-family: var(--ff);
	font-weight: normal;
	font-size: var(--fz-default);
	text-decoration: none;
}
p {
	font-family: var(--ff);
	font-weight: normal;
	font-size: var(--fz-small);
	line-height: 1.1;
}
