@use '../abstracts/mixins' as *;
.about {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 70px;
    @include mq(md) {
      grid-template-columns: 1fr;
    }
  }
  &__description {
    p {
      font-size: var(--fz-md);
      line-height: 1.35;
      margin-inline: 0;
      margin-block: 2.5rem;
      &:first-child {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .cover {
    width: 100%;
    img {
      // height: 100%;
    }
  }
}
