@use '../abstracts/mixins' as *;
.be-model {
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: var(--fz-md);
    line-height: 1.2;
    margin: 0;
  }
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include mq(md) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 60px;
    p {
      width: min(90%, 50ch);
    }
  }
  &__requirements {
    p {
      position: relative;
      text-transform: uppercase;
      margin-block: 0.5rem;
      padding-left: 35px;
      &:before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        left: 0;
        top: -1px;
        background: url("../assets/check.svg") no-repeat center center;
      }
    }
  }
}
