@use '../abstracts/mixins' as *;

.model-card {
	&__container {
		display: flex;
		padding-top: 2.2em;
		padding-bottom: 4.375em;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__subheading {
		margin: 0;
		font-style: normal;
		font-weight: bold;
		font-size: var(--fz-default);
		line-height: 1;
		text-transform: uppercase;
	}
	&__heading {
		margin: 0;
		font-style: normal;
		font-weight: bold;
		font-size: var(--fz-large);
		line-height: 0.8;
	}
	&__params {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 0.5em;
		margin-top: 1.1em;
		p {
			font-size: var(--fz-medium-large);
			text-transform: uppercase;
			font-weight: 300;
			margin: 0;
		}
	}
	.carusel {
		max-width: 1520px;
		margin: 0 auto;
		visibility: hidden;
		&.slick-initialized {
			visibility: visible;
		}
		.slick-slide {
			margin: 0px 20px;
			height: 600px;
			// aspect-ratio: 1 / 1;
			// width: 100%;
			object-fit: contain;
		}
		.slick-track {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.slick-prev:before,
		.slick-next:before {
			color: black;
		}
	}
}
