.btn-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 1em;
}
.button {
	padding: 0.7em;
	background: var(--clr-primary-black);
	border-radius: 5px;
	color: var(--clr-primary-white);
	font-size: var(--fz-default);
}
