.filter {
  width: 100%;
  margin-block: 20px;
  &__list {
    display: flex;
    gap: 20px;
  }
  &__item {
    cursor: pointer;
    color: var(--clr-primary-black);
    text-transform: uppercase;
    font-size: clamp(1rem, 10vw + 1, 2rem);
  }
}
