@use '../abstracts/mixins' as *;

.heading {
  color: var(--clr-primary-black);
  font-weight: 700;
  font-size: 2em;
  @include mq(sm) {
    font-size: 3.625em;
  }
  @include mq(xs) {
    font-size: 2em;
  }
}
