@use '../abstracts/mixins' as *;
.item {
  position: relative;
  &:hover .overlay {
    opacity: 1;
  }
  a {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    &:hover {
      background: var(--clr-hover-alpha);
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-hover-alpha);
    opacity: 0;
    transition: 0.35s ease;
    pointer-events: none;
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin: 0;
      padding: 0;
      color: var(--clr-primary-white);
      font-size: 3rem;
      font-weight: 700;
      pointer-events: none;
    }
  }
}
