@use '../abstracts/mixins' as *;
.socials {
  position: fixed;
  // inset: auto 3.5rem 4rem auto;
  inset: auto 3% 4rem auto;
  @include mq(lg) {
    inset: auto 1rem 4rem auto;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__item {
    a {
      display: inline-block;
      svg path {
        transition: fill 0.35s ease;
      }
      svg circle {
        transition: fill 0.35s ease;
      }
      &:hover svg path {
        fill: hsl(303, 66%, 60%);
      }
      &:hover svg circle {
        fill: hsl(303, 66%, 60%);
      }
    }
  }
  @include mq(md) {
    display: none;
  }
}
