---
layout: models.njk
metacontent:
pagination:
  data: models
  size: 1
  alias: data
permalink: 'models/{{ data.name | slug }}/index.html'
eleventyComputed:
  title: V&I - {{ data.name }}
---

<div class="model-card__container">
	<h4 class="model-card__subheading">Portfolio</h4>
	<h2 class="model-card__heading">{{ data.name }}</h2>
	<div class="model-card__params">
		<p>Height {{ data.height }},</p>
		<p>Bust {{ data.bust }},</p>
		<p>Waist {{ data.waist }},</p>
		<p>Hip {{ data.hip }},</p>
		<p>Shoe {{ data.shoe }},</p>
		<p>Hair {{ data.hair }},</p>
		<p>Eyes {{ data.eyes }}</p>
	</div>
	<div class="carusel init">
		{% for photo in data.photos %}
		<figure class="card">
			<img
				src="{{ '../../' | url }}assets/models/{{ data.name }}/{{ photo }}.jpg"
				alt="model picture"
			/>
		</figure>
		{% endfor %}
	</div>
</div>
