@use '../abstracts/mixins' as *;
.footer {
  position: relative;
  width: 100%;
  min-height: 60px;
  background: transparent;
  padding-block: 1rem;
  @include mq(md) {
    min-height: auto;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 25px;
    align-content: center;
    @include mq(lg) {
      grid-template-columns: repeat(2, 1fr);
      min-height: 3rem;
    }
    @include mq(md) {
      grid-template-columns: 1fr;
      place-items: center;
    }
  }
  .email {
    display: flex;
    align-items: center;
    gap: 10px;
    a {
      font-size: clamp(0.95rem, 3vw, var(--fz-md));
      color: var(--clr-primary-black);
      font-weight: normal;
      @include mq(md) {
        // font-size: 0.625em;
      }
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .phones {
    @include mq(lg) {
      grid-row: 2/ 3;
    }
    @include mq(md) {
      grid-row: auto;
    }
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__phone {
    display: flex;
    align-items: center;
    gap: 10px;
    & > * {
      color: var(--clr-primary-black);
      font-size: clamp(0.7rem, 3vw, var(--fz-md));
    }
  }
  &__copy {
    align-self: center;
    justify-self: center;
    @include mq(lg) {
      grid-row: 1 / 3;
      justify-self: center;
      align-self: center;
    }
    @include mq(md) {
      grid-row: auto;
    }
    p {
      margin: 0;
      color: var(--clr-primary-black);
      font-size: clamp(0.5rem, 3vw, 0.8rem);
    }
  }
}
