@use '../abstracts/mixins' as *;
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  min-height: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  place-items: center;
  padding: 0 5.556em;
  background: transparent;
  @include mq(sm) {
    min-height: 3rem;
    padding: 0 30px;
  }
  @include mq(xs) {
    grid-template-columns: 1fr;
    min-height: 60px;
  }
  &__copy {
    p {
      color: var(--clr-primary-black);
      font-size: var(--fz-sm);
      @include mq(md) {
        font-size: 0.625em;
      }
    }
    @include mq(xs) {
      justify-self: center;
    }
  }
  &__phone {
    display: flex;
    align-items: center;
    gap: 10px;
    & > * {
      color: var(--clr-primary-black);
      font-size: var(--fz-md);
    }
  }
  .email {
    display: flex;
    align-items: center;
    gap: 10px;
    a {
      font-size: var(--fz-md);
      color: var(--clr-primary-black);
      font-weight: normal;
      @include mq(md) {
        font-size: 0.625em;
      }
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
