@use '../abstracts/mixins' as *;
.home__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(19.83rem, 1fr));
	@include mq(xs) {
		grid-template-columns: 1fr;
	}
}
.page-grid,
.model-card-page {
	display: grid;
	grid-template-rows: 3.75rem 1fr 3.75rem;
	grid-template-areas: 'header' 'content' 'footer';
	@include mq(sm) {
		grid-template-rows: 3rem auto 3rem;
	}
	@include mq(xs) {
		grid-template-rows: 3.75rem auto 3.75rem;
	}
	header {
		grid-area: header;
	}
	main {
		grid-area: content;
		margin: 0;
	}
	footer {
		grid-area: footer;
		align-self: flex-end;
	}
}
