@use '../abstracts/mixins' as *;
.models__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 20px;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq(xs) {
    grid-template-columns: 1fr;
  }
}

.full-height {
  display: grid;
  grid-template-rows: 4rem 1fr auto;
  grid-template-areas:
    "navigation"
    "content"
    "footer";
  .header {
    grid-area: navigation;
  }
  .content {
    grid-area: content;
    margin-block: 1.25rem;
  }
  .footer {
    grid-area: footer;
  }
}
