header {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5.556em;
	min-height: 60px;
	&__logo {
		display: flex;
		align-items: center;
	}
	&__link {
		line-height: 0;
	}
}
.nav {
	&__list {
		display: flex;
		gap: 5em;
	}
	li {
		display: inline-block;

		&.active a {
			color: var(--clr-hover);
			border-bottom: 2px solid var(--clr-hover);
		}
		&:hover a {
			color: var(--clr-hover);
			border-bottom: 2px solid var(--clr-hover);
		}
	}
	&__link {
		font-weight: 700;
		color: var(--clr-primary-black);
	}
}
