---
bodyClass: about-page full-height
layout: base.njk
title: About
metacontent: Материнское агентство нацеленное на международный моделинг. Работа в лучших мировых агентствах, подиумах.
heading: О нас
eleventyNavigation:
  key: About
  order: 3
---

<section class="about">
  <div class="about__grid container">
    {% include "./_includes/social.njk" %}
    <div class="about__description">
      <p>
        V&I Models Management это материнское агентство, основанное в 2018 году
        двумя моделями и скаутами Varya & Iri Barsik. Агентство работает в двух
        направлениях моделинга: на международном и локальном уровне в России.
      </p>

      <p>
        Мы более 10 лет в моделинге. Лично работали с самыми лучшими
        международными агентствами. Благодаря своему опыту мы знаем, что нужно
        для построения модельной карьеры. Каким должно быть портфолио, какие
        типажи востребованны заграницей.
      </p>

      <p>
        Мы сотрудничаем с проверенными партнерами. Работаем с агентствами таких
        стран как: Корея, Япония, Китай, Сингапур, Гонконг, Таиланд, Индонезия,
        Филиппины, Тайвань, Турция, Израиль, Ливан. Европейскими странами:
        Италия, Франция, Англия, Испания, Греция, Германия.
      </p>
      <p>
        К каждой модели у нас индивидуальный подход. В наших интересах
        выстраивать долгие и доверительные отношения с моделями и их родителями.
        Мы всегда на связи и открыты для сотрудничества.
      </p>
    </div>

    <div class="cover">
      <figure class="cover__item">
        <!-- <img src="../assets/about/1.jpg" alt="cover picture" /> -->
        {% image "./src/assets/about-bg.jpg" , "Cover of magazine" %}
      </figure>
    </div>
  </div>
</section>
