---
bodyClass: about-page page-grid
layout: base.njk
title: About
heading: О нас
eleventyNavigation:
  key: About
---

<section class="about">
	<div class="container">
		{% include 'heading.njk' %}
		<div class="about__description">
			<p>
				V&I Models Management это материнское агентство, основанное в 2018 году
				двумя моделями и скаутами Varya & Iri Barsik.
				<br />
				Мы более 10 лет в моделинге. Лично работали с самыми лучшими
				международными агентствами. На своем опыте мы знаем особенности
				модельной работы. У нас есть четкое понимание, что нужно для построения
				модельной карьеры. Каким должно быть портфолио, какие типажи работают в
				различных Маркетах заграницей.
			</p>

			<p>
				Мы сотрудничаем исключительно с проверенными партнерами. Работаем с
				агентствами таких стран как: Корея, Япония, Китай, Сингапур, Гонконг,
				Малайзия, Таиланд, Индонезия, Филиппины, Тайвань, Турция, Израиль,
				Ливан. Европейскими странами: Италия, Франция, Англия, Испания, Греция,
				Германия.
			</p>

			<p>
				К каждой модели у нас индивидуальный подход. Мы не гонимся за
				количеством, а занимаемся развитием только тех моделей, в которых видим
				потенциал. Нам важно, что бы модели были мотивированны и хотели
				развиваться. Чтобы каждая была готова усердно работать над собой для
				достижения успеха. В наших интересах выстраивать долгие и доверительные
				отношения с моделями и их родителями. Мы всегда на связи и готовы
				ответить на любые вопросы.
			</p>

			<p>
				Мы работаем с моделями из разных городов и стран. Не упускайте свой шанс
				стать частью нашего агентства. Пишите нам на почту, присылайте свои
				фото, возраст и параметры.
			</p>
		</div>
		<div class="covers">
			<figure class="covers__item">
				<!-- <img src="../assets/about/1.jpg" alt="cover picture" /> -->
				{% image "./src/assets/about/1.jpg" , "Cover of magazine" %}
			</figure>
			<figure class="covers__item">
				{% image "./src/assets/about/2.jpg" , "Cover of magazine" %}
				<!-- <img src="../assets/about/2.jpg" alt="cover picture" /> -->
			</figure>
			<figure class="covers__item">
				{% image "./src/assets/about/3.jpg" , "Cover of magazine" %}
				<!-- <img src="../assets/about/3.jpg" alt="cover picture" /> -->
			</figure>
			<figure class="covers__item">
				{% image "./src/assets/about/4.jpg" , "Cover of magazine" %}
				<!-- <img src="../assets/about/4.jpg" alt="cover picture" /> -->
			</figure>
		</div>
	</div>
</section>
