---
bodyClass: be-model-page page-grid
layout: base.njk
title: V&I Be A Model
heading: Идет набор в агентство
eleventyNavigation:
  key: Be a model
---

<section class="be-model">
	<div class="container">
		{% include 'heading.njk' %}
		<div class="be-model__requirements">
			<p class="requirements">Требования к моделям простые:</p>
			<p class="requirements">Возраст: от 13-23 лет</p>
			<p class="requirements">Девушки: Рост от 170-181.</p>
			<p class="requirements">Бедра до 90 см</p>
			<p class="requirements">
				Парни: Рост от 185-192. Спортивное телосложение
			</p>
		</div>
		<div class="be-model__info">
			<p>
				Пройти онлайн-кастинг можно в любое время, написав нам на почту. Не
				забудь указать следующую информацию:
			</p>
			<ul>
				<li>Возраст</li>
				<li>Рост</li>
				<li>Параметры(обьем груди, талии и бедер)</li>
				<li>Город</li>
				<li>Ссылка на инстаграм</li>
				<li>Наличие тату, шрамов и пирсинга(прикрепить фото)</li>
				<li>Снепы</li>
				<li>
					Нет снепов? Отправляй свежее селфи без фильтров и макияжа, + фото в
					полный рост, сделанные при дневном свете. Можно снять дома на телефон
					;)
				</li>
			</ul>
			<p>
				Возможно именно ты станешь частью нашего агентства и вскоре полетишь на
				свой первый рабочий контракт! Пиши нам на почту
				<a href="mailto:vaimodelsmanagement@gmail.com">
					vaimodelsmanagement@gmail.com
				</a>
			</p>
		</div>
	</div>
</section>
