---
bodyClass: be-model-page page-grid
layout: base.njk
title: V&I Be A Model
heading: Идет набор в агентство
eleventyNavigation:
  key: Be a model
---

<section class="be-model">
	<div class="container">
		{% include 'heading.njk' %}
		<div class="be-model__requirements">
			<p class="requirements">Требования к моделям:</p>
			<p class="requirements">Возраст: от 13-23 лет</p>
			<p class="requirements">Девушки: Рост от 170-181</p>
			<p class="requirements">Бедра до 90 см</p>
			<p class="requirements">
				Парни: Рост от 185-192. Спортивное телосложение
			</p>
		</div>
		<div class="be-model__info">
			<p>
				Пройти онлайн-кастинг можно в любое время. Возможно именно ты станешь
				частью нашего агентства и вскоре полетишь на свой первый рабочий
				контракт!
			</p>
			<div class="btn-wrapper">
				<a
					class="button"
					href="https://docs.google.com/forms/d/e/1FAIpQLSep_4esH6OmlLhkD9a7g-BhS3QGjGHKMPfrl_pFNPFGgv7u0Q/viewform"
				>
					Заполнить анкету
				</a>
			</div>
		</div>
	</div>
</section>
