---
bodyClass: casting page-grid
layout: base.njk
title: Casting
heading: Casting
---

<section class="casting-page">
	<div class="ads">
		{% image "./src/assets/casting/Slice1.png" , "Casting image" %}
	</div>
	<div class="ads">
		{% image "./src/assets/casting/Slice2.png" , "Casting image" %}
	</div>
	<div class="ads">
		{% image "./src/assets/casting/Slice3.png" , "Casting image" %}
	</div>
</section>
