---
bodyClass: contact-page page-grid
layout: base.njk
metacontent: Материнское агентство нацеленное на международный моделинг. Работа в лучших мировых агентствах, подиумах.
eleventyNavigation:
  key: Contacts
---

<div class="contacts container">
  {% include "./_includes/social.njk" %}
  <ul class="contacts__list">
    <li class="contacts__item">
      <p class="name">Ирина (Краснодар)</p>
      <div class="social">
        <span>
          Whatsapp
          <a href="tel:+79024063992">+7 902 4063 992</a>
        </span>
      </div>
      <div class="social">
        <span>Instagram:</span>
        <a class="social__profile" href="#">barsushin</a>
      </div>
      <div class="social">
        <span>VK:</span>
        <a class="social__profile" href="">Ирина Барская</a>
      </div>
    </li>

    <li class="contacts__item">
      <p class="name">Модельная школа в Краснодаре CATWALK</p>
      <a class="social__profile" href="#">catwalkschool.site</a>
      <a href="tel:+79024063992">+7 902 4063 992</a>
    </li>

    <li class="contacts__item">
      <p class="name">Варвара (Симферополь)</p>
      <div class="social">
        <span>
          Whatsapp
          <a href="tel:+79787880631">+7 978 7880 631</a>
        </span>
      </div>
      <div class="social">
        <span>Instagram:</span>
        <a class="social__profile" href="#">varvara_beller</a>
      </div>
      <div class="social">
        <span>VK:</span>
        <a class="social__profile" href="">Va Rya</a>
      </div>
    </li>
    <li class="contacts__item">
      <p class="name">Cотрудничество по России / International booking</p>
      <a href="mailto:vaimodelsmanagement@gmail.com">
        vaimodelsmanagement@gmail.com
      </a>
    </li>
  </ul>
</div>
