---
bodyClass: index
layout: base.njk
title: V&I Models | Модельное агентство Краснодар
metacontent: Лучшее модельное агентство в Краснодаре и Крыму. Идет набор моделей для работы в России и международных контрактов.
---

<div class="hero">
  <div class="container">
    <div class="hero__text">
      <div class="cta">
        <p>
          Хочешь стать моделью?
          <br />
          Заполни анкету
        </p>
        <a class="cta__link" href="/be-a-model">
          <svg
            width="85"
            height="24"
            viewBox="0 0 85 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M84.0607 13.0607C84.6464 12.4749 84.6464 11.5251 84.0607 10.9393L74.5147 1.39339C73.9289 0.807605 72.9792 0.807605 72.3934 1.39339C71.8076 1.97918 71.8076 2.92893 72.3934 3.51471L80.8787 12L72.3934 20.4853C71.8076 21.0711 71.8076 22.0208 72.3934 22.6066C72.9792 23.1924 73.9289 23.1924 74.5147 22.6066L84.0607 13.0607ZM1.31134e-07 13.5L83 13.5L83 10.5L-1.31134e-07 10.5L1.31134e-07 13.5Z"
              fill="white"
            />
          </svg>
        </a>
      </div>
      <h1 class="cta__heading">
        Модельное агентство
        <br />
        в Краснодаре
      </h1>
    </div>
  </div>
</div>
