---
bodyClass: home
layout: base.njk
title: V&I Home
eleventyNavigation:
  key: Models
---

<div class="home__grid">
	{% for model in models %}
	<div class="item">
		<a href="{{ model.url }}">
			<img src="{{ model.image }}" alt="model picture" loading="lazy" />
		</a>
		<div class="overlay">
			<p class="text">{{ model.name }}</p>
		</div>
	</div>
	{% endfor %}
</div>
