---
bodyClass: models
layout: base.njk
title: V&I Models | Модельное агентство Краснодар
metacontent: Лучшее модельное агентство в Краснодаре и Крыму. Идет набор моделей для работы в России и международных контрактов.
eleventyNavigation:
  key: Models
  order: 1
---

<div class="models container">
  {% include "./_includes/filter.njk" %}
  <div class="models__grid">
    <!-- <div class="socials"> -->
      {% include "./_includes/social.njk" %}
    <!-- </div> -->
    {% for model in models %}
    <figure class="item">
      <a href="{{ model.url }}">
        {% image model.image , "Picture of a Model" %}
      </a>
      <div class="overlay">
        <figcaption class="text">{{ model.name }}</figcaption>
      </div>
    </figure>
    {% endfor %}
  </div>
</div>
